@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
}

nav {
    height: 130px;
    width: 100%;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    position: fixed;
}

.nav-left {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links a {
    margin: 0px 20px;
    text-decoration: none;
    color: rgb(32, 32, 32);
}

.nav-links a:hover {
    color: rgb(59, 59, 59);
}

.nav-logo img {
    height: 50px;
    width: 100px;
}

.nav-right {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-right a {
    text-decoration: none;
    color: #EA1D2C;
    font-weight: bold;
}

.nav-right button {
    padding: 15px 20px;
    font-weight: bold;
    color: whitesmoke;
    background-color: #EA1D2C;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: .9em;
}

.nav-right button:hover {
    background-color: #f1404c;
    cursor: pointer;
}

header {
    height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-txt {
    margin-top: 150px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.header-txt h1 {
    font-size: 2.3em;
}

.header-txt p {
    font-size: 1em;
    color: rgb(104, 103, 103);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.082);
}

.input-entrega {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.input-entrega input {
    width: 85%;
    height: 50px;
    outline: none;
    padding: 0px 10px;
}

.input-entrega button {
    padding: 10px 35px;
    height: 50px;
    background-color: #EA1D2C;
    border: none;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.055);
    border-radius: 5px;
}

.input-entrega button:hover {
    background-color: #f1404c;
}

.header-container {
    height: 250px;
    width: 60%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restaurante {
    width: 46%;
    height: 210px;
    border-radius: 20px;
    background-color: #EA1D2C;
}

.restaurante:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: .5s;
    background-color: #ee2331;
}

.restaurante:active {
    transform: scale(1);
}

.restaurante h1 {
    margin: 10px 20px;
    color: whitesmoke;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
}

.restaurante img {
    margin: -13px 150px;
}

.opcoes {
    position: absolute;
    margin: 70px 20px;
    padding: 5px 20px;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 10px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212);
}

.mercado {
    width: 46%;
    height: 210px;
    border-radius: 20px;
    background-color: #B6D048;
    position: relative;
}

.mercado:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: .5s;
    background-color: #c3df48;
}

.mercado:active {
    transform: scale(1);
}

.mercado img {
    position: absolute;
    margin: -31px 150px;
}

.lojas {
    position: absolute;
    margin: 70px 20px;
    padding: 5px 20px;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 10px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212);
}

.mercado h1 {
    margin: 10px 20px;
    color: whitesmoke;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
}

.header-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    width: 60%;
}

.bebidas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bebidas-container p {
    margin-top: 10px;
    font-weight: bold;
}

.bebidas-container:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: .5s;
}

.bebidas-container:active {
    transform: scale(1);
}

.bebidas {
    height: 50px;
    width: 170px;
    background-color: #F6D553;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
}

.bebidas img {
    height: 110px;
    width: 150px;
    position: absolute;
    margin-top: -60px;
}

.farmacia {
    height: 50px;
    width: 170px;
    background-color: #F9879C;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
}

.farmacias-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.farmacias-container:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: .5s;
}

.farmacias-container:active {
    transform: scale(1);
}

.farmacias-container p {
    font-weight: bold;
    margin-top: 10px;
}

.farmacia img {
    position: absolute;
    margin-top: -35px;
}

.pet-shop {
    height: 50px;
    width: 170px;
    background-color: #8c60c5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
}

.pet-shop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pet-shop-container:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: .5s;
}

.pet-shop-container:active {
    transform: scale(1);
}

.pet-shop-container p {
    font-weight: bold;
    margin-top: 10px;
}

.pet-shop img {
    position: absolute;
    margin-top: -28px;
}
